body {
    width: 100%;
    height: 100%;
    margin: 0%;
    padding: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #f6f6f6; /* Colore di sfondo simile a Wordle */
}

/* Definizione del colore per la classe .green */
.green {
    color: green;
}

/* Definizione del colore per la classe .ocra */
.ocra {
    color: #c68e56; /* Questo è solo un esempio di un tono di colore ocra */
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Aggiungi margine superiore per spaziatura */
}

.griglia-content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Aggiungi margine superiore per spaziatura */
}

.input-field {
    width: auto;
}

#griglia-griglia {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centra le righe della griglia */
    margin-top: 20px; /* Aggiungi margine superiore per spaziatura */
}

.griglia-btn {
    display: flex;
    justify-content: center; /* Centra i bottoni nella griglia */
    margin-top: 10px; /* Aggiungi margine superiore per spaziatura */
}

.riga {
    display: flex;
    justify-content: center; /* Centra gli input nella riga */
    align-items: center;
    margin-bottom: 10px; /* Aggiungi margine inferiore per spaziatura */
}

input {
    width: 30px;
    height: 40px; /* Aumenta l'altezza degli input */
    margin-right: 5px;
    text-align: center;
    border: 1px solid #ccc; /* Aggiungi bordo grigio agli input */
    background-color: white; /* Sfondo bianco per gli input */
}

.griglia-griglia div {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    height: 40px; /* Aumenta l'altezza delle caselle della griglia */
    width: 30px; /* Larghezza fissa per le caselle della griglia */
    font-size: 16px; /* Riduci la dimensione del testo per adattarsi meglio */
    margin: 2px; /* Aggiungi margine tra le caselle della griglia */
    background-color: white; /* Sfondo bianco per le caselle della griglia */
}
