body {
    background-color: #fff; /* Light background */
    font-family: "Roboto", sans-serif; /* Clean sans-serif font */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
  }
  
  header {

    margin-top: 0vh;
    font-size: 28px;
    color: #333; 
  }

  header img{
    max-width: 250px;
    max-height: 250px;
  }


  .green{
    color:  white;
    background-color: rgba(47, 165, 47, 0.623);
  }

  .grey{
    color:  white;
    background-color: rgba(128, 128, 128, 0.473);
  }
  .ocra {
    color:  white;

    background-color: #c68e1e81; 
}.content {
  width: 100%;
  height: auto; 
  display: flex;
  flex-direction: row;
  justify-content: space-between; /* Distribuisce gli elementi uniformemente lungo l'asse principale */
  align-items: flex-start; 
  margin: 0 auto; /* Per centrare il contenuto orizzontalmente */
  margin-bottom: 2vh;
  white-space: pre-line;
  text-align: center;
}

.caratteriUsati,
.tentativiRimasti {
  white-space: pre-line;
  width: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
  margin-bottom: 3vh;
}

.griglia-content {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}

/* Rimuovere i margini degli elementi figli se necessario */
.content > * {
  margin: 0;
}





  
  input {
    margin-right: 5px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    width: 40px; /* Increased width */
    height: 40px; /* Increased height */
    font-size: 30px; /* Increased font size */
    border-radius: 4px;
  }
  
    
  
  #wordUsed {
    margin-top: 5vh;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  #wordUsed ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Display used words horizontally */
    justify-content: center;
    align-items: center;
  }
  
  #wordUsed ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: #ddd; /* Light gray for used words */
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 25px;
  }
  

  .reload-button {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
}

.reload-button:hover {
    background-color: #45a049;
}
