body {
    background-color: #fff; /* Light background */
    font-family: "Roboto", sans-serif; /* Clean sans-serif font */
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  header {
    margin-top: 1vh;
    font-size: 36px;
    color: #333; 
  }


  .green{
    color:  white;
    background-color: rgba(47, 165, 47, 0.623);
  }

  .grey{
    color:  white;
    background-color: rgba(128, 128, 128, 0.473);
  }
  .ocra {
    color:  white;

    background-color: #c68e1e81; 
}

  
  .content {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 5vh;
  }
  

  
  input {
    margin-right: 5px;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    width: 60px; /* Increased width */
    height: 60px; /* Increased height */
    font-size: 30px; /* Increased font size */
    border-radius: 4px;
  }
  
    
  
  #wordUsed {
    margin-top: 5vh;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1); /* Subtle shadow */
  }
  
  #wordUsed ul {
    list-style-type: none;
    padding: 0;
    display: flex; /* Display used words horizontally */
    justify-content: center;
    align-items: center;
  }
  
  #wordUsed ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 15px;
    background-color: #ddd; /* Light gray for used words */
    color: #333;
    padding: 5px 10px;
    border-radius: 3px;
    font-size: 25px;
  }
  